# env
.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

*.out

# Binary
url-minifier
vegeta-target-generator

# don't ignore the directory
!vegeta-target-generator/

# file storage
minifiedURLs.json
